body {
	margin: 0px;
}
#ad {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	background-position: left top;
	background-repeat: no-repeat;
	background-color: #293d4b;
	overflow: hidden;
	display: block;
	position: relative;
	cursor: pointer;
	visibility:hidden;
}
#banner {
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	overflow: hidden;
	display: block;
	visibility:hidden;
}
#border {
	top: 0px;
	left: 0px;
	width: 298px;
	height: 248px;
	display: block;
	z-index: 42;
	border: 1px solid #000; /* Fall back, not used in fiddle */
	position: absolute;
}
#header {
	position: absolute;
	width: 155px;
	height: 104px;
	top: 0px;
	left: 0px;
	z-index: 5;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) -0px -0px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}
#arrow {
	position: absolute;
	width: 300px;
	height: 250px;
	top: 0px;
	left: 0px;
	z-index: 2;
	background-image: url(arrow2.png);
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}
#copy1 {
	position: absolute;
	width: 300px;
	height: 24px;
	top: 104px;
	left: 0px;
	z-index: 5;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) 0px -104px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}
#cta {
	position: absolute;
	width: 150px;
	height: 38px;
	top: 132px;
	left: 78px;
	z-index: 10;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) -0px -134px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}

#cta_hover {
	position: absolute;
	width: 150px;
	height: 35px;
	top: 132px;
	left: 78px;
	z-index: 10;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) 150px -134px;
	opacity:0;
}
#sheen {
	position: absolute;
	left:200px;
	width: 52px;
	height: 34px;
	background-repeat: no-repeat;
	background: url(sheen.png);
}
#copy2 {
	position: absolute;
	width: 247px;
	height: 17px;
	top: 174px;
	left: 0px;
	z-index: 5;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) 0px -174px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}
#lendingClubLogo {
	position: absolute;
	width: 300px;
	height: 52px;
	bottom: 0px;
	left: 0px;
	z-index: 5;
	background: url(LCinvestor-prospect_Seeking-300x250_sprite.png) 0px -198px;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
}
#bg {
	background-color: #293d4b;
	position: absolute;
	top: 0px;
	z-index: 1;
}

